body{
  background: #0b111d;
  color: #c0c7cf;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.head{
  background: black;
  display: flex;
  justify-content: space-between;

  opacity: 90%;
}

.head p{
  color: #559053;
  margin-top: 3%;
}
.head img{
  height: 50px;
  margin-top: 2%;
}
.dasboard{
  border-style: groove;
  border-color: #464f5f;
  width: 30%;
  margin-top: 10px;
  margin-right: 5%;
  gap: 5%;
}
.dasboard section{
  display: flex;
  background: #141e31;
  opacity: 90%;
  width: 100%;
}
.dasboard h1{
  align-content: center;
  margin-left: 40%;
}
.dateles{
  display: flex;

}
.info{
  display: flex;
  border-style: inset;
  border-color: #559053;
  font-size: x-large;
  justify-content: center;
  
}